* {
    margin: 0;
    padding: 0;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-size: cover;
    display: flex;
    justify-content: space-between;
    padding: 20px 35px; /* size of the header */
    text-decoration: none;
    border-bottom: 3px solid black;
}

header h1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}

header a {
    text-decoration: none;
    padding: 10px 15px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

header nav li {
    margin: 2px 0;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 40px 35px;
    bottom: 0;
}

.button {
    border: 3px solid black;
    color: none;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 5px;
    transition-duration: 0.5s;
    cursor: pointer;
    border-radius: 10px;
}

.button1:hover {
    background-color: #ccccff; 
    color: black
    ; 
}

.button2:hover {
    background-color: #ccccff; 
    color: black; 
}

.button3:hover {
  background-color: #ccccff; 
  color: black; 
}

.hero-cta {
    text-align: center;
    padding: 100px;
    background: rgb(167,172,251);
    background: linear-gradient(0deg, rgba(167,172,251,1) 0%, rgba(86,45,253,1) 100%);
}

.hero-cta h2 {
    padding: 2.5%;
}

.hero-cta img {
    height: auto;
    width: 250px;
    border-radius: 50%;
    border: 3px solid black;
}

.portfolio {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.sub-portfolio {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.portfolio-title {
    font-size: 32px;
    border-bottom: 3px solid paleturquoise;
    margin: 20%;
}

.section-title {
    padding: 20px 20px;
    align-items: center;
}

/* Main Project Overlay */
.container {
    position: relative;
    width: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0 10px 30px 10px;
}

.main-image {
    display: block;
    width: 100%;
    height: auto; 
    border-radius: 25px;
    border: 3px solid #fce138;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -7px;
    height: auto;
    width: auto;
    opacity: 0;
    transition: .5s ease;
    background-color: none;
}

.container:hover .overlay {
    opacity: 1;
}

.text a {
    color: #fce138;
    font-size: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-decoration: none;
}

/* Sub Projects Overlay */

.sub-image {
    display: block;
    width: 45%;
    height: auto; 
    border-radius: 25px;
    border: 5px solid ;
    margin: 10px 0 10px 0;
}

.sub-overlay {
    position: absolute;
    top: 10px;
    bottom: 10px;
    height: auto;
    width: 200px;
    opacity: 0;
    transition: .5s ease;
    background-color: none;
}

.container:hover .sub-overlay {
    opacity: 1;
}

.sub-text a {
    text-align: left;
    color: white;
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-decoration: none;
}

/* Sub Projects Overlay */


.contact-title {
    border-bottom: 3px solid paleturquoise;
    margin: 18% 40% 5% 40%;
}

.section-title-2 {
    display: flex;
    justify-content: center;
    font-size: 32px;
    background-color: white;
    background-size: cover;
    padding: 20px 20px;
}

.contact ul {
    background: rgb(167,172,251);
    background: linear-gradient(0deg, rgba(167,172,251,1) 0%, rgba(86,45,253,1) 100%);
    background-size: cover;
    padding: 5%; /* size of the background */
    border-bottom: 3px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.contact li a {
    text-decoration: none;
}

.button4:hover {
    background-color: paleturquoise; 
    color: black
    ; 
}

.button5:hover {
    background-color: paleturquoise; 
    color: black; 
}

.button6:hover {
  background-color: paleturquoise; 
  color: black; 
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    .hero-cta img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .main-image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 500%;
        height: auto;
    }

    .sub-image {
        display: block;
        width: 90%;
        height: auto; 
        border-radius: 25px;
        border: 3px solid #ccccff;
        margin: 10px 0 10px 0;
    }

    .contact-title {
    margin: 18% 20% 5% 20%;
    }
}







  
  